acvl-utils==0.2
adan-pytorch==0.1.0
batchgenerators==0.25.1
dynamic-network-architectures==0.2
einops==0.4.1
einops-exts==0.0.3
hiddenlayer==0.2
hydra-core==1.3.2
matplotlib==3.7.2
monai==1.1.0
monai-weekly==1.4.dev2427
nibabel==5.3.3
nnunetv2==2.3.1
numpy==1.24.3
omegaconf==2.2.3
pandas==2.0.3
pillow==9.1.1
requests==2.27.1
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.8.1
seaborn==0.13.2
simpleitk==2.4.1
tensorboardx==2.6.4
torch==2.3.0
torchvision==0.18.0
totalsegmentator==2.1.0
tqdm==4.65.0